<footer>
    <div class="f-info">
        <div class="f-info-social">
          <a href="https://www.facebook.com/share/1Dx4hd3Tn9/"> <i class="fa-brands fa-facebook"></i></a> 
           <a href="https://www.instagram.com/irfan_223356/" > <i class="fa-brands fa-square-instagram " ></i></a>
           <a href="https://www.linkedin.com/in/irfan-ahmad-01594b2b5"> <i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand"> &copy; blogverse Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy Policy</a>
           
        </div>
    </div>
</footer>